<!DOCTYPE html>
<html>
  <head>
    <title>IncomeReport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to 'Home', welcome_index_path %>
  	<%= link_to 'Donation', donations_path %>
  	<%= link_to 'FAQs', welcome_faqs_path %>
  	<%= link_to 'About Us', welcome_about_path %>

    <%= yield %>
  </body>
</html>
